<template name="Home">
	<div class="container" id="content">
		{{> HomeHomeJumbotron}}
	</div>
</template>

<template name="HomeHomeJumbotron">
	<div class="jumbotron ">
		<div class="container">
			<div class="pull-left">
				<h1 id="component-title">
					Example application
				</h1>
				<p id="jumbotron-text">
					<b>This <a href="https://www.meteor.com" target="_blank">Meteor</a> application is made with <a href="http://www.meteorkitchen.com" target="_blank">meteor-kitchen</a> without manual coding.</b><br />It demonstrates how to create pages with side-menus and tab-menus pointing to subpages.<br />Source code (input file for generator) is <a href="https://github.com/perak/kitchen-examples/tree/master/example-subpages" target="_blank">here</a>.
				</p>
				<p id="jumbotron-button">
					<a href="#" class="btn btn-primary btn-lg" role="button">
						Continue &raquo;
					</a>
				</p>
			</div>
		</div>
	</div>
</template>

