<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}
		{{> PublicLayout}}
	{{/if}}
</template>

<template name="PublicLayout">
	<div id="wrap">
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="#">
						Meteor Kitchen
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer">
		<div class="container">
			<p class="text-muted">
				Meteor Kitchen &copy; 2014 Petar Korponaić All Rights Reserved
			</p>
		</div>
	</div>
</template>

<template name="PrivateLayout">
	<div id="wrap">
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="#">
						Meteor Kitchen
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer">
		<div class="container">
			<p class="text-muted">
				Meteor Kitchen &copy; 2014 Petar Korponaić All Rights Reserved
			</p>
		</div>
	</div>
</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				Home
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'getting_started'}}">
			<a href="{{pathFor 'getting_started'}}">
				Getting started
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'examples'}}">
			<a href="{{pathFor 'examples'}}">
				Examples
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'object_reference'}}">
			<a href="{{pathFor 'object_reference'}}">
				Object Reference
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'version_history'}}">
			<a href="{{pathFor 'version_history'}}">
				What's Up?
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'contribute'}}">
			<a href="{{pathFor 'contribute'}}">
				Contribute
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'donate'}}">
			<a href="{{pathFor 'donate'}}">
				Donate
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
			<a href="{{pathFor 'register'}}">
				Register
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				Login
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">
			<a href="{{pathFor 'home_private'}}">
				Home
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'applications'}}">
			<a href="{{pathFor 'applications'}}">
				My applications
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'logout'}}">
			<a href="{{pathFor 'logout'}}">
				Logout
			</a>
		</li>
	</ul>
</template>

